/**
 * Stylings to make the onehub button look like a link.
 */

button.onehub-button {
  background-color: transparent;
  color: black;
  border: none;
  padding: 1px 0;
  margin: 0;
  text-decoration: underline;
}

button.onehub-button:hover,
button.onehub-button:focus,
button.onehub-button:active {
  background-color: transparent;
  color: slategrey;
  border: none;
  padding: 1px 0;
  margin: 0;
  box-shadow: none;
  text-decoration: underline;
}